<% layout('/layouts/biolerplate.ejs') %>
<div class="row">
    <div class="col-6  offset-3">
        <div class="alert alert-danger" role="alert">
            <h2 class="alert-heading">Watch out!</h2>
            <b><%= err.message %></b>
            <hr>
            <% if(process.env.NODE_ENV!=="production"){ %>
                <p class="mb-0"><%= err.stack %></p>
            <% } %>
          </div>
    </div>
</div>