<% layout('/layouts/biolerplate.ejs') %>
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campground" method="post" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a Title.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide Location.
                    </div>
                </div> 
                <div class="mb-3">
                    <label for="" class="mb-2">Upload Image</label>
                    <div class="input-group">
                        <input type="file" class="form-control" name="image" id="image" multiple aria-label="Upload">
                        <label class="input-group-text" for="image" id="image-label"></label>
                    </div>
                </div>
                <!-- <div class="mb-3">
                    <label for="image" class="form-label">upload image here</label>
                    <input type="file" name="image" id="image" multiple>
                </div> -->
                <div class="mb-3">
                    <label for="price" class="form-label">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price">$</span>
                        <input type="text" placeholder="0.00" class="form-control" aria-label="price"
                            aria-describedby="price-label" name="campground[price]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide prize.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]"
                        required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide Description.
                    </div>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-success">Add Campground</button>
                </div>
            </form>

            <a href="/campground">All CampGround</a>
        </div>
    </div>